<div class="row">
    <h1>Xəbərlər</h1>
    <div class="news">
        <div class="new">
            <div class="image">
                <div class="date">
                    29 fev 2024
                </div>
            </div>
            <div class="content">
                <h3>ÖLKƏNİN APARICI BANKLARI İLƏ ONLAYN İNTEQRASİYA</h3> <br>
                <p>"U&R Company" olaraq təqdim etdiyimiz, onlayn inteqrasiya imkanlarından yararlanaraq</p>
            </div>
        </div>
        <div class="new">
            <div class="image">
                <div class="date">
                    29 fev 2024
                </div>
            </div>
            <div class="content">
                <h3>
                    "Katech Azerbaijan" şirkətində ERP sisteminin tətbiqi ücün müqavilə imzalandı.</h3> <br>
                <p>Məmnuniyyətlə yeni əməkdaşlığımız haqqında məlumatı sizinlə paylaşmaq istərdik.</p>
            </div>
        </div>
        <div class="new">
            <div class="image">
                <div class="date">
                    29 fev 2024
                </div>
            </div>
            <div class="content">
                <h3>"Şəxsi Kabinet" layihəsi daim inkişaf etdirilir</h3> <br> 
                <p>"U&R Company" olaraq təqdim etdiyimiz, onlayn inteqrasiya imkanlarından yararlanaraq</p>
            </div>
        </div>
    </div>
    <button><a [routerLink]="['/news']" routerLinkActive="router-link-active" >Daha çox</a></button>
</div>
