.container{
    width: 80%;
    margin: 0 auto;
}

section:nth-child(2),section:nth-child(4),section:nth-child(6){
    background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
    background-attachment: fixed;
}