<main>
    <section id="homepage">
        <!-- <app-particles></app-particles> -->
        <div class="container">
            <app-home></app-home>
        </div>
    </section>
    <section id="urc">
        <div class="container">
            <app-urc></app-urc>
        </div>
    </section>
    <section id="services">
        <div class="container">
            <app-xidmetler></app-xidmetler>
        </div>
    </section>
    <section id="news">
        <div class="container">
            <app-xeberler></app-xeberler>
        </div>
    </section>
    <section id="customers">
        <app-terefdaslar></app-terefdaslar>
    </section>
    <section>
        <div class="container">
            <app-unical-tapsiriqlar></app-unical-tapsiriqlar>
        </div>
    </section>
    <section id="statics">
        <div class="container">
            <app-gostericiler></app-gostericiler>
        </div>
    </section>
</main>