<div class="row">
    <div class="left-side">
        <div class="white-circle">
            <div class="inner-white-circle">
                <div class="orange_circle">
                    <i class="fa fa-database"></i>
                </div>
            </div>
        </div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div class="image">
            <img src="https://urc.az/Public/img/istehsalat-icon.png" alt="">
        </div>
        <div class="image">
            <img src="https://urc.az/Public/img/vergi-icon.png" alt="">
        </div>
        <div class="image">
            <img src="https://urc.az/Public/img/anbar.png" alt="">
        </div>
        <div class="image">
            <img src="https://urc.az/Public/img/maliyy%c9%99-icon.png" alt="">
        </div>
        <div class="image">
            <img src="https://urc.az/Public/img/%c9%99sas-v%c9%99sait-icon.png" alt="">
        </div>
        <div class="image">
            <img src="https://urc.az/Public/img/pul-v%c9%99saitl%c9%99ri-icon.png" alt="">
        </div>
        <div class="image">
            <img src="https://urc.az/Public/img/hr-icon.png" alt="">
        </div>
        <div class="image">
            <img src="https://urc.az/Public/img/sat%c4%b1s%cc%a7-icon.png" alt="">
        </div>
    </div>
    <p>“U and R Company” MMC 2013-cü ildən bəri 70-dən çox müəssisənin 100-dən çox layihəsini avtomatlaşdıran və korporativ yeni həllər təklif edən şirkətdir.</p>
</div>
