*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    outline: none;
}
section{
    padding: calc(2rem + 0.5vw) 0;
    width: 100%;
    .container{
        width: 80%;
        margin: 0 auto;
        .row{
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: calc(1.5rem + 0.5vw);

            h1{
                font-size: calc(2rem + 0.5vw);
                font-weight: 400;
            }
            form{
                width: 100%;
                display: flex;
                align-items: end;
                justify-content: right;
                flex-direction: column;
                gap: calc(1rem + 0.5vw);
                .inputs{
                    display: flex;
                    width: 100%;
                    gap: calc(1rem + 0.5vw);
                    flex-direction: column;
                    .input_container{
                        display: flex;
                        flex-direction: column;
                        gap: calc(0.2rem + 0.5vw);
                        label{
                            display: flex;
                            align-items: center;
                            height: calc(2rem + 0.5vw);
                            gap: calc(0.5rem + 0.5vw);
                            p{
                                font-size: calc(1rem + 0.5vw);
                                font-weight: 400;
                            }
                            .error_message{
                                width: 100%;
                                height: 100%;
                                color: #842029;
                                // background-color: #f8d7da;
                                border-radius: 5px;
                                font-size: calc(1rem + 0.5vw);
                                font-weight: 400;
                                display: flex;
                                align-items: center;
                            }
                        }
                        input,textarea{
                            width: 100%;
                            border: 1px solid #ced4da;
                            color: #495057;
                            padding: calc(0.5rem + 0.5vw) calc(1.5rem + 0.5vw);
                            font-size: calc(0.5rem + 0.5vw);
                            &.invalid{
                                border: 1px solid red;
                            }
                        }
                        textarea{
                            height: calc(6rem + 0.5vw);
                            resize: none;
                        }
                    }
                }
                button{
                    width: calc(10rem + 0.5vw);
                    height: calc(2.5rem + 0.5vw);
                    background-color: #e8c900;
                    border: none;
                    border-radius: 5px;
                    font-size: calc(0.8rem + 0.5vw);
                    color: #fff !important;
                    box-shadow: 0px 1px 2px #00000032;
                    cursor: pointer;
                }
            }
        }
    }
}