<div class="row">
    <h1>Xidmət göstərdiyimiz müəssisələr</h1>
    <div class="slider-bg">
        <div class="customers">
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/c1d61b59-ed3f-4706-9e1f-f3587e9afecfazal.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/729ed52b-11db-4b4a-bda9-5660e0940419socar%20methanol.jpg" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/3e4ded96-67b1-457a-9969-6dfdb79bf65cBravo_supermarket.jpg" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/eef3a508-fb53-449e-bcb0-e09f03cd0475pasha%20travel.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/74fbb14a-b79b-43d0-92f4-309689034e00pasha_insaat.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/721cf8dc-be3d-42ff-93de-084941194a81pasha%20technology%20(2).jpg" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/c1d61b59-ed3f-4706-9e1f-f3587e9afecfazal.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/729ed52b-11db-4b4a-bda9-5660e0940419socar%20methanol.jpg" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/3e4ded96-67b1-457a-9969-6dfdb79bf65cBravo_supermarket.jpg" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/eef3a508-fb53-449e-bcb0-e09f03cd0475pasha%20travel.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/74fbb14a-b79b-43d0-92f4-309689034e00pasha_insaat.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/721cf8dc-be3d-42ff-93de-084941194a81pasha%20technology%20(2).jpg" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/c1d61b59-ed3f-4706-9e1f-f3587e9afecfazal.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/729ed52b-11db-4b4a-bda9-5660e0940419socar%20methanol.jpg" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/3e4ded96-67b1-457a-9969-6dfdb79bf65cBravo_supermarket.jpg" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/eef3a508-fb53-449e-bcb0-e09f03cd0475pasha%20travel.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/74fbb14a-b79b-43d0-92f4-309689034e00pasha_insaat.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/721cf8dc-be3d-42ff-93de-084941194a81pasha%20technology%20(2).jpg" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/c1d61b59-ed3f-4706-9e1f-f3587e9afecfazal.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/729ed52b-11db-4b4a-bda9-5660e0940419socar%20methanol.jpg" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/3e4ded96-67b1-457a-9969-6dfdb79bf65cBravo_supermarket.jpg" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/eef3a508-fb53-449e-bcb0-e09f03cd0475pasha%20travel.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/74fbb14a-b79b-43d0-92f4-309689034e00pasha_insaat.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/721cf8dc-be3d-42ff-93de-084941194a81pasha%20technology%20(2).jpg" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/c1d61b59-ed3f-4706-9e1f-f3587e9afecfazal.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/729ed52b-11db-4b4a-bda9-5660e0940419socar%20methanol.jpg" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/3e4ded96-67b1-457a-9969-6dfdb79bf65cBravo_supermarket.jpg" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/eef3a508-fb53-449e-bcb0-e09f03cd0475pasha%20travel.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/74fbb14a-b79b-43d0-92f4-309689034e00pasha_insaat.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/721cf8dc-be3d-42ff-93de-084941194a81pasha%20technology%20(2).jpg" alt="">
            </div>
        </div>
        <div class="customers">
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/c1d61b59-ed3f-4706-9e1f-f3587e9afecfazal.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/729ed52b-11db-4b4a-bda9-5660e0940419socar%20methanol.jpg" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/3e4ded96-67b1-457a-9969-6dfdb79bf65cBravo_supermarket.jpg" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/eef3a508-fb53-449e-bcb0-e09f03cd0475pasha%20travel.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/74fbb14a-b79b-43d0-92f4-309689034e00pasha_insaat.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/721cf8dc-be3d-42ff-93de-084941194a81pasha%20technology%20(2).jpg" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/c1d61b59-ed3f-4706-9e1f-f3587e9afecfazal.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/729ed52b-11db-4b4a-bda9-5660e0940419socar%20methanol.jpg" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/3e4ded96-67b1-457a-9969-6dfdb79bf65cBravo_supermarket.jpg" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/eef3a508-fb53-449e-bcb0-e09f03cd0475pasha%20travel.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/74fbb14a-b79b-43d0-92f4-309689034e00pasha_insaat.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/721cf8dc-be3d-42ff-93de-084941194a81pasha%20technology%20(2).jpg" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/c1d61b59-ed3f-4706-9e1f-f3587e9afecfazal.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/729ed52b-11db-4b4a-bda9-5660e0940419socar%20methanol.jpg" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/3e4ded96-67b1-457a-9969-6dfdb79bf65cBravo_supermarket.jpg" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/eef3a508-fb53-449e-bcb0-e09f03cd0475pasha%20travel.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/74fbb14a-b79b-43d0-92f4-309689034e00pasha_insaat.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/721cf8dc-be3d-42ff-93de-084941194a81pasha%20technology%20(2).jpg" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/c1d61b59-ed3f-4706-9e1f-f3587e9afecfazal.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/729ed52b-11db-4b4a-bda9-5660e0940419socar%20methanol.jpg" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/3e4ded96-67b1-457a-9969-6dfdb79bf65cBravo_supermarket.jpg" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/eef3a508-fb53-449e-bcb0-e09f03cd0475pasha%20travel.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/74fbb14a-b79b-43d0-92f4-309689034e00pasha_insaat.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/721cf8dc-be3d-42ff-93de-084941194a81pasha%20technology%20(2).jpg" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/c1d61b59-ed3f-4706-9e1f-f3587e9afecfazal.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/729ed52b-11db-4b4a-bda9-5660e0940419socar%20methanol.jpg" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/3e4ded96-67b1-457a-9969-6dfdb79bf65cBravo_supermarket.jpg" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/eef3a508-fb53-449e-bcb0-e09f03cd0475pasha%20travel.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/74fbb14a-b79b-43d0-92f4-309689034e00pasha_insaat.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/721cf8dc-be3d-42ff-93de-084941194a81pasha%20technology%20(2).jpg" alt="">
            </div>
        </div>
        <div class="customers">
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/c1d61b59-ed3f-4706-9e1f-f3587e9afecfazal.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/729ed52b-11db-4b4a-bda9-5660e0940419socar%20methanol.jpg" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/3e4ded96-67b1-457a-9969-6dfdb79bf65cBravo_supermarket.jpg" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/eef3a508-fb53-449e-bcb0-e09f03cd0475pasha%20travel.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/74fbb14a-b79b-43d0-92f4-309689034e00pasha_insaat.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/721cf8dc-be3d-42ff-93de-084941194a81pasha%20technology%20(2).jpg" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/c1d61b59-ed3f-4706-9e1f-f3587e9afecfazal.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/729ed52b-11db-4b4a-bda9-5660e0940419socar%20methanol.jpg" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/3e4ded96-67b1-457a-9969-6dfdb79bf65cBravo_supermarket.jpg" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/eef3a508-fb53-449e-bcb0-e09f03cd0475pasha%20travel.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/74fbb14a-b79b-43d0-92f4-309689034e00pasha_insaat.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/721cf8dc-be3d-42ff-93de-084941194a81pasha%20technology%20(2).jpg" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/c1d61b59-ed3f-4706-9e1f-f3587e9afecfazal.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/729ed52b-11db-4b4a-bda9-5660e0940419socar%20methanol.jpg" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/3e4ded96-67b1-457a-9969-6dfdb79bf65cBravo_supermarket.jpg" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/eef3a508-fb53-449e-bcb0-e09f03cd0475pasha%20travel.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/74fbb14a-b79b-43d0-92f4-309689034e00pasha_insaat.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/721cf8dc-be3d-42ff-93de-084941194a81pasha%20technology%20(2).jpg" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/c1d61b59-ed3f-4706-9e1f-f3587e9afecfazal.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/729ed52b-11db-4b4a-bda9-5660e0940419socar%20methanol.jpg" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/3e4ded96-67b1-457a-9969-6dfdb79bf65cBravo_supermarket.jpg" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/eef3a508-fb53-449e-bcb0-e09f03cd0475pasha%20travel.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/74fbb14a-b79b-43d0-92f4-309689034e00pasha_insaat.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/721cf8dc-be3d-42ff-93de-084941194a81pasha%20technology%20(2).jpg" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/c1d61b59-ed3f-4706-9e1f-f3587e9afecfazal.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/729ed52b-11db-4b4a-bda9-5660e0940419socar%20methanol.jpg" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/3e4ded96-67b1-457a-9969-6dfdb79bf65cBravo_supermarket.jpg" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/eef3a508-fb53-449e-bcb0-e09f03cd0475pasha%20travel.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/74fbb14a-b79b-43d0-92f4-309689034e00pasha_insaat.png" alt="">
            </div>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/721cf8dc-be3d-42ff-93de-084941194a81pasha%20technology%20(2).jpg" alt="">
            </div>
        </div>
    </div>
    <swiper-container loop="true" navigation="true" css-mode="true">
        <swiper-slide>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/c1d61b59-ed3f-4706-9e1f-f3587e9afecfazal.png" alt="">
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/729ed52b-11db-4b4a-bda9-5660e0940419socar%20methanol.jpg" alt="">
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/3e4ded96-67b1-457a-9969-6dfdb79bf65cBravo_supermarket.jpg" alt="">
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/eef3a508-fb53-449e-bcb0-e09f03cd0475pasha%20travel.png" alt="">
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/74fbb14a-b79b-43d0-92f4-309689034e00pasha_insaat.png" alt="">
            </div>
        </swiper-slide>
        <swiper-slide>
            <div class="customer">
                <img src="https://urc.az/Public/img/customers/721cf8dc-be3d-42ff-93de-084941194a81pasha%20technology%20(2).jpg" alt="">
            </div>
        </swiper-slide>
    </swiper-container>
</div>
<!-- https://urc.az/Public/img/customers/c1d61b59-ed3f-4706-9e1f-f3587e9afecfazal.png -->
<!-- https://urc.az/Public/img/customers/729ed52b-11db-4b4a-bda9-5660e0940419socar%20methanol.jpg -->
<!-- https://urc.az/Public/img/customers/3e4ded96-67b1-457a-9969-6dfdb79bf65cBravo_supermarket.jpg -->
<!-- https://urc.az/Public/img/customers/eef3a508-fb53-449e-bcb0-e09f03cd0475pasha%20travel.png -->
<!--https://urc.az/Public/img/customers/74fbb14a-b79b-43d0-92f4-309689034e00pasha_insaat.png  -->
<!-- https://urc.az/Public/img/customers/721cf8dc-be3d-42ff-93de-084941194a81pasha%20technology%20(2).jpg -->

