<div class="row">
    <video loop="" muted="" autoplay="" playsinline="" defaultmuted="" preload="auto" id="footer-video">
        <source src="https://urc.az/Public/img/videos/9.mp4" type="video/mp4">
    </video>
    <div class="content">
        <p>Biz texnologiya gücünün biznes performansını artırmaq üçün saysız- hesabsız imkanlar təqdim etdiyinə inanırıq.</p>
        <a [routerLink]="['/contact']" routerLinkActive="router-link-active" >Gəlin müzakirə edək <i class='fas fa-angle-right'></i></a>
    </div>
</div>
