<div class="row">
    <h1>Xidmətlərimiz</h1>
    <div class="services">
        <div class="service">
            <div class="orange-circle">
                <img src="https://urc.az/Public/img/icon/icon-1.png" alt="">
            </div>
            <h3>1C ERP sistemləri</h3>
            <p>Müəssisələrə bugünkü biznesin rəqəmsal çağırışlarına cavab verməyə, daha sürətli böyüməyə imkan verən çevik ERP həlləri.</p>
        </div>
        <div class="service">
            <div class="orange-circle">
                <img src="https://urc.az/Public/img/icon/icon-1.png" alt="">
            </div>
            <h3>Mühasibat müşayiəti</h3>
            <p>Vergi uçotunun aparılması, Maliyyə hesabatlarının hazırlanması; Məsləhətlər, Audit və s.</p>
        </div>
        <div class="service">
            <div class="orange-circle">
                <img src="https://urc.az/Public/img/icon/icon-1.png" alt="">
            </div>
            <h3>İnsan Resurslarının idarə edilməsi və Əmək Haqqı</h3>
            <p>İR-nın planlaşdırılması, əmrlərin hazırlanması, davamiyyət, iş qrafiki, əmək haqqının hesablanması, hökümət portalı ilə məlumat mübadiləsi.</p>
        </div>
        <div class="service">
            <div class="orange-circle">
                <img src="https://urc.az/Public/img/icon/icon-1.png" alt="">
            </div>
            <h3>Texniki tapşırıqlar</h3>
            <p>Bütün texniki məlumatların detallarına qədər toplanılması.</p>
        </div>
        <div class="service">
            <div class="orange-circle">
                <img src="https://urc.az/Public/img/icon/icon-1.png" alt="">
            </div>
            <h3>Veb saytlar və Portallar</h3>
            <p>Yeni saytların hazırlanması, mövcud saytların inkişaf etdirilməsi və müasir texnologiyalarla yenidən tətbiqi, sürətli portalların hazırlanması.</p>
        </div>
        <div class="service">
            <div class="orange-circle">
                <img src="https://urc.az/Public/img/icon/icon-1.png" alt="">
            </div>
            <h3>Mobil Tətbiqlər</h3>
            <p>Biznesinizi inkişaf etdirmək və ya idarə etmək üçün funksional və istifadəsi rahat mobil tətbiqlərin hazırlanması.</p>
        </div>
        <div class="service">
            <div class="orange-circle">
                <img src="https://urc.az/Public/img/icon/icon-1.png" alt="">
            </div>
            <h3>Fərqli Sistemlərlə İnteqrasiya</h3>
            <p>Standartlaşmış və məlumat ötürmə protokollarına əsaslanan, faktiki olaraq hər növ proqram və avadanlıqla inteqrasiya etmə imkanı.</p>
        </div>
        <div class="service">
            <div class="orange-circle">
                <img src="https://urc.az/Public/img/icon/icon-1.png" alt="">
            </div>
            <h3>Giriş-Çıxış Sistemləri</h3>
            <p>Obyektlərin (insanların, nəqliyyat vasitələrinin) müəyyən əraziyə “keçid məntəqələri” vasitəsilə giriş-çıxışının məhdudlaşdırılması və qeydiyyata alınması.</p>
        </div>
        <div class="service">
            <div class="orange-circle">
                <img src="https://urc.az/Public/img/icon/icon-1.png" alt="">
            </div>
            <h3>İcarə</h3>
            <p>1C bazaların cloud serverə köçürülməsi.</p>
        </div>
    </div>
</div>