<div class="row">
    <h1>Unikal biznes, unikal tapşırıqlar</h1>
    <div class="content">
        <p id="top_p">
            Müxtəlif sənayə yönümlü müəssisələr öz unikal ehtiyaclarına uyğunlaşdırılmış proqram həllərini layihələndirmək və inkişaf etdirmək üçün bizə müraciət edirlər.
        </p>
        <div class="fealiyyet">
            <p>Xidmət göstərdiyimiz fəaliyyət sahələri</p>
            <div class="icons">
                <div class="icon">
                    <img src="https://urc.az/Public/img/icon/2.png" alt="">
                    <p>Biznes Mərkəzi</p>
                </div>
                <div class="icon">
                    <img src="https://urc.az/Public/img/icon/1.png" alt="">
                    <p>Data Mərkəzi</p>
                </div>
                <div class="icon">
                    <img src="https://urc.az/Public/img/icon/3.png" alt="">
                    <p>Hotel</p>
                </div>
                <div class="icon">
                    <img src="https://urc.az/Public/img/icon/4.png" alt="">
                    <p>Kənd Təsərrüfatı</p>
                </div>
                <div class="icon">
                    <img src="https://urc.az/Public/img/icon/5.png" alt="">
                    <p>Kiber Təhlükəsizlik</p>
                </div>
                <div class="icon">
                    <img src="https://urc.az/Public/img/icon/6.png" alt="">
                    <p>Logistika</p>
                </div>
                <div class="icon">
                    <img src="https://urc.az/Public/img/icon/7.png" alt="">
                    <p>Restoran</p>
                </div>
                <div class="icon">
                    <img src="https://urc.az/Public/img/icon/8.png" alt="">
                    <p>Səhiyyə</p>
                </div>
                <div class="icon">
                    <img src="https://urc.az/Public/img/icon/9.png" alt="">
                    <p>Supermarket</p>
                </div>
                <div class="icon">
                    <img src="https://urc.az/Public/img/icon/10.png" alt="">
                    <p>Təhsil</p>
                </div>
                <div class="icon">
                    <img src="https://urc.az/Public/img/icon/11.png" alt="">
                    <p>Telekommunikasiya</p>
                </div>
                <div class="icon">
                    <img src="https://urc.az/Public/img/icon/12.png" alt="">
                    <p>Tikinti</p>
                </div>
            </div>
        </div>
    </div>
</div>
